<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.dao.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.zwl.model.po.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="href_type" jdbcType="INTEGER" property="hrefType" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="queue_number" jdbcType="INTEGER" property="queueNumber" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    </resultMap>
    <sql id="Base_Column_List">
        id, image_url, href_url, href_type, theme, queue_number, description, create_time, modify_time, available, merchant_id, is_show
    </sql>

    <select id="getBannerByQueueNumber" parameterType="com.zwl.model.po.Banner" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ss_banner
        where available=1
        and merchant_id = #{merchantId,jdbcType = VARCHAR}
        and queue_number = #{queueNumber,jdbcType=INTEGER}
    </select>

    <select id="getWxBannerList" parameterType="com.zwl.model.po.Banner" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ss_banner
        where available=1
        and merchant_id = #{merchantId}
        and is_show = 1
        order by queue_number asc
    </select>

    <select id="getBannerList" parameterType="com.zwl.model.po.Banner" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ss_banner
        where available=1
        and merchant_id = #{merchantId}
        <if test="theme != null">
            and theme like  CONCAT('%',#{theme},'%')
        </if>
        <if test="isShow != null">
            and is_show = #{isShow}
        </if>
        order by modify_time desc
    </select>

    <insert id="addBanner" parameterType="com.zwl.model.po.Banner">
      insert into ss_banner
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
              id,
          </if>
          <if test="imageUrl != null">
              image_url,
          </if>
          <if test="hrefUrl != null">
              href_url,
          </if>
          <if test="hrefType != null">
              href_type,
          </if>
          <if test="theme != null">
              theme,
          </if>
          <if test="queueNumber != null">
              queue_number,
          </if>
          <if test="description != null">
              description,
          </if>
          <if test="createTime != null">
              create_time,
          </if>
          <if test="available != null">
              available,
          </if>
          <if test="merchantId != null">
              merchant_id,
          </if>
          <if test="isShow != null">
              is_show,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
              #{id,jdbcType=INTEGER},
          </if>
          <if test="imageUrl != null">
              #{imageUrl,jdbcType=VARCHAR},
          </if>
          <if test="hrefUrl != null">
              #{hrefUrl,jdbcType=VARCHAR},
          </if>
          <if test="hrefType != null">
              #{hrefType,jdbcType=INTEGER},
          </if>
          <if test="theme != null">
              #{theme,jdbcType=VARCHAR},
          </if>
          <if test="queueNumber != null">
              #{queueNumber,jdbcType=INTEGER},
          </if>
          <if test="description != null">
              #{description,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
              #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="available != null">
              #{available,jdbcType=INTEGER},
          </if>
          <if test="merchantId != null">
              #{merchantId,jdbcType=VARCHAR},
          </if>
          <if test="isShow != null">
              #{isShow,jdbcType=INTEGER},
          </if>
      </trim>
    </insert>

    <update id="updateBanner" parameterType="com.zwl.model.po.Banner">
      update ss_banner
      <set>
          <if test="imageUrl != null">
              image_url = #{imageUrl,jdbcType=VARCHAR},
          </if>
          <if test="hrefUrl != null">
              href_url = #{hrefUrl,jdbcType=VARCHAR},
          </if>
          <if test="hrefType != null">
              href_type = #{hrefType,jdbcType=INTEGER},
          </if>
          <if test="theme != null">
              theme = #{theme,jdbcType=VARCHAR},
          </if>
          <if test="queueNumber != null">
              queue_number = #{queueNumber,jdbcType=INTEGER},
          </if>
          <if test="description != null">
              description = #{description,jdbcType=VARCHAR},
          </if>
          <if test="available != null">
              available = #{available,jdbcType=INTEGER},
          </if>
          <if test="merchantId != null">
              merchant_id = #{merchantId,jdbcType=VARCHAR},
          </if>
          <if test="isShow != null">
              is_show = #{isShow,jdbcType=INTEGER},
          </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>