<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.dao.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.zwl.model.po.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, modify_time, available, image_url, href_url, merchant_id
  </sql>
  <select id="selectBanner" parameterType="com.zwl.model.po.Banner" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ss_banner
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.zwl.model.po.Banner">
    insert into ss_banner (id, create_time, modify_time, 
      available, image_url, href_url, 
      merchant_id)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{available,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR},
      #{merchantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zwl.model.po.Banner">
    insert into ss_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zwl.model.po.Banner">
    update ss_banner
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        href_url = #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zwl.model.po.Banner">
    update ss_banner
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      available = #{available,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      href_url = #{hrefUrl,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>