<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwl.dao.mapper.ClassSetMapper" >
  <resultMap id="BaseResultMap" type="com.zwl.model.po.ClassSet" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="required_member_level" property="requiredMemberLevel" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="available" property="available" jdbcType="INTEGER" />
    <result column="content_text" property="contentText" />
    <result column="style" property="style" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="front_cover" property="frontCover" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, banner_url,content, category_id, merchant_id, is_show, required_member_level,
    create_time, modify_time, available,content_text,style,is_recommend,front_cover
  </sql>
  <!--新增套课程-->
  <insert id="insert" parameterType="com.zwl.model.po.ClassSet" >
    insert into ss_class_set (id, title, banner_url,content,
      category_id, merchant_id, is_show,
      required_member_level, create_time, modify_time,
      available,content_text,style,is_recommend,front_cover)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR},#{content,jdbcType=LONGVARCHAR},
      #{categoryId,jdbcType=INTEGER}, #{merchantId,jdbcType=VARCHAR}, #{isShow,jdbcType=BIT},
      #{requiredMemberLevel,jdbcType=INTEGER}, now(), now(),
      #{available,jdbcType=INTEGER},#{contentText},#{style,jdbcType=INTEGER},#{isRecommend,jdbcType=INTEGER},#{frontCover,jdbcType=VARCHAR})
  </insert>
  <!--修改指定id的套课程参数-->
  <update id="updateByParams" parameterType="com.zwl.model.po.ClassSet" >
    update ss_class_set
    <set >
      modify_time=now(),
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null" >
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="requiredMemberLevel != null" >
        required_member_level = #{requiredMemberLevel,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="contentText != null" >
        content_text = #{contentText},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="frontCover != null" >
        front_cover = #{frontCover,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
<!--获取merchantId下的所有套课程-->
  <select id="selectListByMerchantId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
      <include refid="Base_Column_List" />
    from
      ss_class_set
    where
      merchant_id = #{merchantId}
  </select>
  <!--根据id获取一个套课程详情-->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT
    <include refid="Base_Column_List" />
    from
      ss_class_set
    where
      id = #{id}
  </select>

  <!--根据参数查询-->
  <select id="selectListByParams" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    from
      ss_class_set
    <where>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="bannerUrl != null" >
        AND banner_url = #{bannerUrl,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null" >
        AND category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="merchantId != null" >
        AND merchant_id = #{merchantId,jdbcType=VARCHAR}
      </if>
      <if test="isShow != null" >
        AND is_show = #{isShow,jdbcType=BIT}
      </if>
      <if test="requiredMemberLevel != null" >
        AND required_member_level = #{requiredMemberLevel,jdbcType=INTEGER}
      </if>
      <if test="available != null" >
        AND available = #{available,jdbcType=INTEGER}
      </if>
      <if test="content != null" >
        AND content = #{content,jdbcType=LONGVARCHAR}
      </if>
      <if test="contentText != null" >
        AND content_text = #{contentText}
      </if>
      <if test="style != null" >
        AND style = #{style,jdbcType=INTEGER}
      </if>
      <if test="isRecommend != null" >
        AND is_recommend = #{isRecommend,jdbcType=INTEGER}
      </if>
      <if test="frontCover != null" >
        AND front_cover = #{frontCover,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
 <!--根据ClassSetId获取节课程详情-->
  <select id="selectByClassSetId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    from
      ss_class_set
    where
      category_id=#{categoryId}
  </select>


  <resultMap id="AllClassResultMap" type="com.zwl.model.vo.ClassVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category_title" property="categoryTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime"  />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="class_type" property="classType" />
    <result column="required_member_level" property="requiredMemberLevel" />
    <result column="content_text" property="contentText" />
    <result column="style" property="style" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="front_cover" property="frontCover" jdbcType="VARCHAR" />
  </resultMap>
  <!--查询所有的套课 和单独的节课程lsit-->
  <select id="selectAllClass" resultMap="AllClassResultMap">
      SELECT *
       from (
( SELECT
    scs.id 	AS id,
	scs.title AS title,
	scc.title AS category_title,
	scs.create_time AS create_time,
	scs.modify_time AS modify_time,
    scs.merchant_id AS merchantId,
    '' as logoUrl,
	1 AS class_type,
	scs.required_member_level AS required_member_level,
	scs.content_text AS content_text,
    CASE WHEN scs.style IS NULL THEN 2 ELSE scs.style END AS style,
    scs.is_recommend AS is_recommend,
    scs.front_cover AS front_cover
  FROM
    ss_class_category scc,
    ss_class_set scs
  WHERE
    scc.id = scs.category_id
    AND scc.available = 1
    AND scs.available = 1
    AND scs.merchant_id =#{merchantId}
  ) UNION ALL
  (
  SELECT
	sci.id AS id,
    sci.title AS title,
	scc.title AS category_title,
	scc.create_time AS create_time,
	sci.modify_time AS modify_time,
    sci.merchant_id AS merchantId,
    sci.logo_url as  logoUrl,
	2 AS class_type,
	null AS required_member_level,
	sci.content_text AS  content_text,
    CASE WHEN sci.style IS NULL THEN 2 ELSE sci.style END AS style,
    sci.is_recommend AS is_recommend,
    '' AS front_cover
  FROM
    ss_class_category scc,
    ss_class_info sci
  WHERE
    scc.id = sci.category_id
    AND sci.class_set_id IS NULL
    AND sci.merchant_id = #{merchantId}
    AND scc.available = 1
    AND sci.available = 1
  ) ) t
  <where>
    <if test="title!=null">
      t.title like CONCAT('%',#{title},'%')
    </if>
  </where>
ORDER BY t.required_member_level DESC,t.modify_time DESC
  </select>

  <!--查询所有的套课 和单独的节课程lsit-->
  <select id="selectAllClassOrderById"  resultMap="AllClassResultMap">
    SELECT *
    from (
    ( SELECT
    scs.id 	AS id,
    scs.title AS title,
    scc.title AS category_title,
    scs.create_time AS create_time,
    scs.modify_time AS modify_time,
    scs.merchant_id AS merchantId,
    '' as logoUrl,
    1 AS class_type,
    scs.required_member_level AS required_member_level,
    scs.content_text AS content_text,
    CASE WHEN scs.style IS NULL THEN 2 ELSE scs.style END AS style,
    scs.is_recommend AS is_recommend,
    scs.front_cover AS front_cover
    FROM
    ss_class_category scc,
    ss_class_set scs
    WHERE
    scc.id = scs.category_id
    AND scc.available = 1
    AND scs.available = 1
    AND scs.merchant_id =#{merchantId}
    AND scs.is_show = 1
    <if test="queryType == 0">
      AND scs.is_recommend = 1
    </if>
    ) UNION ALL
    (
    SELECT
    sci.id AS id,
    sci.title AS title,
    scc.title AS category_title,
    scc.create_time AS create_time,
    sci.modify_time AS modify_time,
    sci.merchant_id AS merchantId,
    sci.logo_url as  logoUrl,
    2 AS class_type,
    null AS required_member_level,
    sci.content_text AS  content_text,
    CASE WHEN sci.style IS NULL THEN 2 ELSE sci.style END AS style,
    sci.is_recommend AS is_recommend,
    '' AS front_cover
    FROM
    ss_class_category scc,
    ss_class_info sci
    WHERE
    scc.id = sci.category_id
    AND sci.class_set_id IS NULL
    AND sci.merchant_id = #{merchantId}
    AND scc.available = 1
    AND sci.available = 1
    AND sci.is_show = 1
    <if test="queryType == 0">
      AND sci.is_recommend = 1
    </if>
    ) ) t
    ORDER BY t.required_member_level DESC,t.modify_time DESC
  </select>

  <!--搜索-->
  <select id="search" resultMap="AllClassResultMap">
      SELECT *
       from (
( SELECT
    scs.id 	AS id,
	scs.title AS title,
	scc.title AS category_title,
	scs.create_time AS create_time,
	scs.modify_time AS modify_time,
    scs.merchant_id AS merchantId,
    '' as logoUrl,
	1 AS class_type,
	CASE WHEN scs.style IS NULL THEN 2 ELSE scs.style END AS style,
    scs.is_recommend AS is_recommend,
    scs.front_cover AS front_cover
  FROM
    ss_class_category scc,
    ss_class_set scs
  WHERE
    scc.id = scs.category_id
    AND scc.available = 1
    AND scs.available = 1
    AND scs.merchant_id =#{merchantId}
  ) UNION ALL
  (
  SELECT
	sci.id AS id,
    sci.title AS title,
	scc.title AS category_title,
	scc.create_time AS create_time,
	sci.modify_time AS modify_time,
    sci.merchant_id AS merchantId,
    sci.logo_url as  logoUrl,
	2 AS class_type,
	CASE WHEN sci.style IS NULL THEN 2 ELSE sci.style END AS style,
    sci.is_recommend AS is_recommend,
    '' AS front_cover
  FROM
    ss_class_category scc,
    ss_class_info sci
  WHERE
    scc.id = sci.category_id
    AND sci.class_set_id IS NULL
    AND sci.merchant_id = #{merchantId}
    AND scc.available = 1
    AND sci.available = 1
  ) ) t
where t.title like CONCAT('%',#{title},'%')
ORDER BY t.modify_time DESC
  </select>
</mapper>